*,
:after,
:before {
  box-sizing: border-box;
  color: white;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da, #615dad);
  height: 125vh;
  background-repeat: unset;

  /*zkouška tohle nebrat(nefunguje)
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  max-width: 80vmin;
  max-height: 500px;
  
  Hlavnímu obsahu nastav maximální šířku pomocí max-width: 80vmin. Stránka se tak bude lépe přizpůsobovat širokoúhlým obrazovkám i telefonům na výšku.*/

}

main {
  max-width: 80vmin;
  max-height: 80vh;
  margin: 5% auto;
  text-align: center;
}

h1 {
  display: block;
  font: lighter 35px lobster;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user {
  text-overflow: clip;
  font: bold 20px sans;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

img {
  width: 450px;
  max-width: 100%;
}

.menu button.backBtn {
  background-color: #1cbb96;
  width: 5vw;
  height: 5vw;
}

.menu .replayBtn {
  background-color: #0197f6;
  width: 5vw;
  height: 5vw;
}

.gamefield {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  height: 200px;
  margin: 5% auto;
  position: relative;
  /*justify-content: center;*/

}

.btnGroup {
  display: flex;
  flex-direction: row;
}

.gamefield button {
  width: calc(100% / 10);
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  margin: 0;
  opacity: 0.5;
}
