body {
  background-image: linear-gradient(#615dad, #ffc8da);
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.pictext {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: auto;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

div .text {
  background-color: #283e50;
  padding: 15px;
}

h1 {
  font: lighter 40px lobster;
}

div .buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

a.rules {
  background-color: #1fcca4;
  padding: 15px;
}

a.rules:hover {
  background-color: #1cbb96;
}

a.play {
  background-color: #0197f6;
  padding: 15px;
  border-top: groove #000000b3;
}

a.play:hover {
  background-color: #0090e9;
}
